<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choviwu.example.mapper.BasRoleResourceMapper">
  <resultMap id="BaseResultMap" type="org.choviwu.example.common.model.BasRoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, role_id as roleId , source_id as sourceId
  </sql>

</mapper>